@using MvcContrib.Pagination
@using MvcContrib.UI.Pager
@using MvcContrib.UI.Grid
@using RavenMailtrap.Model

@model IEnumerable<Message>
@{
    ViewBag.Title = "Home Page";
}

@Html.Grid(Model).Columns(columns =>
{
    columns.For(m => m.From).Sortable(true);
    columns.For(m => m.Subject).Sortable(true);
    columns.For(m => string.Join("; ", m.To)).Named("To").Sortable(false);
    columns.For(m => m.ReceivedDate).Sortable(true);
    columns.For(m => m.ServerHostName).Named("Server").Sortable(true);
    columns.For(m => Html.ActionLink("View", "Details", new { id = m.Id }, new { @class = "details_link" }));
}).Sort(ViewBag.Sort ?? new GridSortOptions())

@Html.Raw(Html.Pager((IPagination)Model))


<div id="mail_dialog">
</div>

@section scripts
{
    <script type="text/javascript">
        setInterval(function() {
            var dialog = $('#mail_dialog').data('dialog');
            if (!dialog || !dialog.isOpen) {
                window.location.reload();
            }
        }, 20000);

        $('.details_link').on('click', function (evt) {
            evt.preventDefault();

            $.get($(this).attr('href'), function (data) {
                var container = $('#mail_dialog');

                container.html(data);

                container.dialog({
                    width: '800',
                    height: 'auto',
                    modal: true,
                    close: function () {
                        container.dialog('destroy');                   
                    }
                });

            });
        });

    </script>
}
